# If-Else Statement

## Check the number are positive or nigative

In [3]:
num=int(input("Enter any number :"))
if num >=0:
    print("Given number is positive")
else:
    print("Given number is nigative")

Enter any number : 0

Given number is nigative

## Check whether a person is eligible for vote or not

In [5]:
# check whether a person is eligible for vote or not
age=int(input("Enter the age of person :"))
if age >= 18:
    print("Eligible for vote")
else:
    print("Not Eligible for vote")

Enter the age of person : 18

Eligible for vote

## Find the largest of two number

In [9]:
num1=int(input("Enter the first number :"))
num2=int(input("Enter the second number :"))
if num1==num2:
    print("Bothe numbers are equal")
elif num1>num2:
    print("Greater number is :",num1)
else:
    print("Greater number is :",num2)

Enter the first number : 11
Enter the second number : 11

bothe are equal

# Match Case

## Print the all days of week using match case

In [11]:
Days=int(input("Enter the number of Days :"))
match Days:
    case 1:
        print("Monday")
    case 2 :
        print("Tuesday")
    case 3:
        print("wadnesday")
    case 4:
        print("Thursday")
    case 5 :
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Enter a Valid Day")

Enter the number of Days : 8

Enter a Valid Day

## Print the all months of the year  using match case

In [14]:
Month=int(input("Enter the number of months :"))
match Month:
    case 1:
        print("JANUARY")
    case 2 :
        print("FEBRUARY")
    case 3:
        print("MARCH")
    case 4:
        print("APRIL")
    case 5 :
        print("MAY")
    case 6:
        print("JUNE")
    case 7:
        print("JULY")
    case 8:
        print("AUGUST")
    case 9 :
        print("SEPTEMBER")
    case 10:
        print("OCTOBER")
    case 11:
        print("NOVEMBER")
    case 12 :
        print("DECEMBER")
    case _:
        print("Enter a Valid month number")

Enter the number of months : 12

DECEMBER

## Performs the arithmetic operation on two number

In [23]:
a=int(input("Enter the first number :"))
Operation=input("Enter the operation that you want to perform :")
b=int(input("Enter the second number :"))
match Operation:
    case '+':
        print(a+b)
    case '-':
        print(a-b)
    case '*' :
        print(a*b)
    case '/':
        print(a/b)
    case '%':
        print(a%b)
    case _:
        print("Operation is not difine")

Enter the first number : 8
Enter the operation that you want to perform : /
Enter the second number : 2

4.0

# For Loop

## Write a program to print the first 10 natural number

In [26]:
for i in range (1,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

## Calculate the sum of number from 1 to 20

In [30]:
sum=0
for i in range (1,21):
    sum=sum+i
print("the sum of first 20 numbers is :",sum)

210

## Print the multiplication table of 5

In [12]:
n=int(input("Enter the number :"))
for i in range (1,11):
    print(n,"x",i,"=",n*i)

Enter the number : 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## Print number in reverse(20 to 1)

In [18]:
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

# Factorial of number

In [20]:
# n! = 1*2*3*4*5*------------*n
n=int(input("Enter a number"))
factorial = 1
for i in range(1, n + 1):
        factorial *= i
print("Factorial of given number",factorial)

Enter a number 5

Factorial of given number 120

# Digit Extraction

In [25]:
n=12345
for i in str(n):
    print(i)

1
2
3
4
5

# Sum of 5 digit number

In [21]:
n=12345
sum=0
for i in str(n):
    sum+=int(i)
print("Sum of digits is :",sum)

Sum of digits is : 15

# Reversed number

In [27]:
#first methode
n = 12345
reversed_number = int(str(n)[::-1])
print(reversed_number)

54321

In [30]:
# second methode
n=12345
r_str=" "
for i in str(n):
    r_str=i+r_str
r_str=int(r_str)
print(r_str)

54321

# Palindrome number

In [2]:
n=int(input("Enetr any number :"))
r_str=" "
for i in str(n):
    r_str=i+r_str
r_str=int(r_str)
r=(r_str)
if n== r:
    print("pelindrome number")
else:
    print("Not pelindrome number")

Enetr any number : 121

pelindrome number

# Armstrong number

In [8]:
# first methode
num = int(input("Enter a number: "))
temp=num
sum = 0
while temp > 0:
   r = temp % 10
   sum += r ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

In [18]:
# second methode
num = int(input("Enter a number: "))
temp=num
sum = 0
l=len(str(num))
for i in range(l):
    sum =sum+(temp%10)**3
    temp//=10
if num==sum:
        print("Armstrong")
else:
        print("Not")

Enter a number:  123

Not

# Fibonacci_series

In [24]:
n=int(input("Enter the number"))
a,b=0,1
for i in range (n):
    print(a,end=" ")
    a,b=b,a+b

Enter the number 8

0 1 1 2 3 5 8 13

# Pattern Printing

# Pattern 1

In [38]:
for i in range (1,6):
    for j in range (1,i+1):
       print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [39]:
n = 5
for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

# Pattern 2

In [45]:
for i in range (5,0,-1):
    for j in range (1,i+1):
       print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [46]:
rows = 5
for i in range(rows, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

# Pattern 3

In [24]:
for i in range (5):
    for j in range (5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Pattern 4

In [32]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Pattern 5

In [37]:
for i in range (1,5):
    for j in range (1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Pattern 6

In [48]:
for i in range (1,4):
    for j in range (1,i+1):
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

# Pattern 7

In [49]:
for i in range (5):
    for k in range (5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

# Pattern 8

In [54]:
for i in range (5):
    for j in range (5):
        if i==0 or i==4 or j==0 or j==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# Pattern 9

In [65]:
for i in range (1,6):
    for j in range (1,i+1):
        if j==1 or j==i or i==5:
         print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
*     *
* * * * *

# Pattern 10

##  Pascals's triangle

In [67]:
for i in range (5):
    num=1
    for j in range (i+1):
        print(num,end=" ")
        num= num*(i-j)//(j+1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

# Pattern 11

##  Alphabets Printing

In [69]:
ch=65
for i in range (5):
    for j in range(i+1):
        print(chr(ch),end=" ")
    ch=ch+1
    print()

A
B B
C C C
D D D D
E E E E E

In [11]:
for i in range (5):
    for j in range (i+1):
        print(chr(65 + i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

## pattern 12

In [4]:
for i in range(5):
    for j in range(i + 1):
        print(chr(65 + j), end=" ") # Convert ASCII to character
    print()

A
A B
A B C
A B C D
A B C D E

## pattern 13

In [30]:
ch=65
for i in range(6):
    for j in range(i+1):
        print(chr(ch),end=" ")
        ch=ch+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

## pattern 14

In [71]:
ch=65
for i in range (5):
    for k in range (5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(chr(ch),end=" ")
    ch=ch+1
    print()

        A
      B B
    C C C
  D D D D
E E E E E

## pattern 15

In [47]:
rows=5
for i in range (rows):
    for k in range (i):
        print(" ",end=" ")
    ch=chr(65+(rows-i-1))
    for j in range(rows-i):
        print(ch,end=" ")
    print()

E E E E E
  D D D D
    C C C
      B B
        A

## pattern 16

In [57]:
ch=65
rows=5
for i in range (rows):
    for k in range (rows-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print(chr(ch+i),end=" ")
    print()

        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

## pattern 17

In [63]:
ch=65
rows=5
for i in range (rows):
    for k in range (i):
        print(" ",end=" ")
    ch=chr(65+(rows-i-1))
    for j in range(2*(rows-i-1)+1):
        print(ch,end=" ")
    print()

E E E E E E E E E
  D D D D D D D
    C C C C C
      B B B
        A

## pattern 18

In [48]:
rows=5
for i in range (rows):
    for k in range (rows-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# While loop

In [1]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [4]:
i=2
while i<=20:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

## find max in list

In [1]:
# methode one
num = [10, 24, 76, 23, 12]
largest = max(num)
print(largest)

76

In [2]:
# methode two
num = [10, 24, 76, 23, 12]
max = num[0]
for i in num:
    if i >max:
        max = i
print(max)

76