# Tuples

num=(1,2,"Neeraj",5,6,7,True)
print(num)

In [2]:
t=(5)
t1=(5,)
print(type(t))
print(type(t1))

<class 'int'>
<class 'tuple'>

In [2]:
sentence = ("mohan",19,"Delhi")
name,age,city=sentence
print("Name:",name)
print("Age:",age)
print("City:",city)

Name: mohan
Age: 19
City: Delhi

In [3]:
name=["mam","madam","sona","mom","jahaj","Krishna"]
for i in name:
    print(i)

mam
madam
sona
mom
jahaj
Krishna

In [5]:
t=(1,2,3,4,5,6,7,8,9,2,3,4,3,4,4)
print("Length :",len(t))
print("Count of 4:",t.count(4))
print("Index of 9 :",t.index(9))

Length : 15
Count of 4: 4
Index of 9 : 8

### tuples to list

In [6]:
t=(1,2,3,4,5,6,7,8,9,2,3,4,3,4,4)
num=list(t)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 3, 4, 4]